/*CSS reset settings here*/
*{
  margin: 0px;
  padding: 0px;
}

.text {
  font-family: serif;
  color: white;
  font-size: 16px;
}

.title {
  font-family: serif;
  color: white;
  font-size: 30px;
  padding: 10px 0px 20px 0px;
}

ul{
  padding-left: 20px;
}

#container{
  width: 970px;
  background-color: navy;
  margin: 0px;
  padding: 10px;
}

#box1{
  width: auto;
  height:70px;
  background-color: red;
  padding: 10px 0px 0px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: block;
}

#box2{
  width: 230px;
  height: 360px;
  display: inline-block;
  background-color: green;
  border-radius: 20px;
  margin: auto;
  vertical-align: top;
  padding: 20px;
}

#box3{
  width: 640px;
  height: 430px;
  display: inline-block;
  background-color: black;
  border-radius: 20px;
  margin-left: 10px;
  vertical-align: top;
  padding: 20px;
}

#box4{
  width: auto;
  background-color: grey;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}
