/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 15px 0px;
 display: table-cell;
}
#header{
 height: 150px;
 width: 870px;
 background-color: green;
 margin: 0px 15px;
}
#navigation{
 height: 195px;
 width: 150px;
 background-color: blue;
 margin: 15px;
 display: inline-block;
}
#main_content{
 height: 380px;
 width: 700px;
 background-color: red;
 margin: auto;
 display: inline-block;
}
.subcontents{
 height: 200px;
 width: 200px;
 background-color: yellow;
 display: inline-block;
 margin: 10px 0px 0px 10px;
}
#advertisement{
 height: 100px;
 width: 630px;
 background-color: purple;
 margin: 15px 0px 15px 10px;
}
